[Unit]
Description=BM6 ThingSpeak Data Service
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/
ExecStart=/home/pi/myenv/bin/python /home/pi/bm6_thingspeak_service.py
Environment="PATH=/home/pi/myenv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="VIRTUAL_ENV=/home/pi/myenv"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
